In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv(r"C:\Users\venka\OneDrive\ドキュメント\DATASETS\kc_house_data.csv")

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
df.shape

(21613, 21)

## EXPLORATORAY DATA ANALYSIS

In [7]:
pd.set_option('display.float_format',lambda x:  '%5f' %x)
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21611.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4580301520.864988,540088.141767,3.370842,2.114757,2079.899736,15106.967566,1.494309,0.007542,0.234303,3.409430,7.656873,1788.396095,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2876565571.312057,367127.196483,0.930062,0.770163,918.440897,41420.511515,0.539989,0.086517,0.766318,0.650743,1.175459,828.128162,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1000102.000000,75000.000000,0.000000,0.000000,290.000000,520.000000,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2123049194.000000,321950.000000,3.000000,1.750000,1427.000000,5040.000000,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3904930410.000000,450000.000000,3.000000,2.250000,1910.000000,7618.000000,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7308900445.000000,645000.000000,4.000000,2.500000,2550.000000,10688.000000,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9900000190.000000,7700000.000000,33.000000,8.000000,13540.000000,1651359.000000,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

## SPLITTING DATA FOR TRANING AND TESTING

In [9]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
x=df[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','grade','sqft_living15','sqft_lot15']]

In [11]:
x

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15
0,3,1.000000,1180,5650,1.000000,0,0,3,7,1340,5650
1,3,2.250000,2570,7242,2.000000,0,0,3,7,1690,7639
2,2,1.000000,770,10000,1.000000,0,0,3,6,2720,8062
3,4,3.000000,1960,5000,1.000000,0,0,5,7,1360,5000
4,3,2.000000,1680,8080,1.000000,0,0,3,8,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.500000,1530,1131,3.000000,0,0,3,8,1530,1509
21609,4,2.500000,2310,5813,2.000000,0,0,3,8,1830,7200
21610,2,0.750000,1020,1350,2.000000,0,0,3,7,1020,2007
21611,3,2.500000,1600,2388,2.000000,0,0,3,8,1410,1287
21612,2,0.750000,1020,1076,2.000000,0,0,3,7,1020,1357

In [12]:
y=df['price']

In [13]:
y

0       221900.000000
1       538000.000000
2       180000.000000
3       604000.000000
4       510000.000000
             ...
21608   360000.000000
21609   400000.000000
21610   402101.000000
21611   400000.000000
21612   325000.000000
Name: price, Length: 21613, dtype: float64

In [14]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\venka\appdata\roaming\python\python313\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\venka\appdata\roaming\python\python313\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.6.0 in c:\users\venka\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\venka\appdata\roaming\python\python313\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\venka\appdata\roaming\python\python313\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.28,random_state=101)

In [17]:
x_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15
1034,3,2.500000,3220,54160,2.000000,0,2,4,9,3460,44374
13321,3,2.000000,1340,9764,1.000000,0,0,3,7,1310,9764
6760,4,1.750000,1440,6144,1.000000,0,0,5,6,960,5160
5329,4,2.500000,2360,43017,2.000000,0,0,3,9,2750,40334
8117,3,1.500000,1550,8000,1.000000,0,0,3,6,1150,5150
...,...,...,...,...,...,...,...,...,...,...,...
5695,3,2.250000,1920,9672,2.000000,0,0,4,8,1950,10125
8006,3,1.000000,1240,3600,1.500000,0,0,3,7,1680,3600
17745,3,2.250000,1780,7332,2.000000,0,0,3,7,1510,7625
17931,2,1.000000,1150,5000,1.000000,0,0,4,7,1463,4320
13151,3,1.000000,1450,7930,1.000000,0,0,4,6,1040,7740

In [18]:
x_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15
3834,2,1.000000,1050,6317,1.500000,0,0,4,7,1600,9616
1348,4,2.250000,2040,9565,1.000000,0,0,3,8,1890,8580
20366,4,2.500000,2500,4000,2.000000,0,0,3,8,1480,4300
16617,5,2.000000,2360,19899,1.000000,0,0,4,7,1860,19998
20925,3,3.000000,1670,4440,1.000000,0,0,3,7,1670,4622
...,...,...,...,...,...,...,...,...,...,...,...
19330,4,2.500000,3550,8048,2.000000,0,0,3,9,3920,7871
13482,2,1.500000,1050,1046,2.000000,0,0,3,8,1470,1768
8927,4,2.500000,2800,21370,2.000000,0,0,3,8,1880,9336
18115,2,1.750000,1170,2400,1.000000,0,0,4,7,1570,3919
7501,5,2.250000,2640,14959,1.000000,0,0,4,7,3240,17904

In [19]:
y_test

3834     349950.000000
1348     450000.000000
20366    635000.000000
16617    355500.000000
20925    246950.000000
             ...
19330    625000.000000
13482    375000.000000
8927     515000.000000
18115    499000.000000
7501    1398000.000000
Name: price, Length: 6052, dtype: float64

## NORMALIZATION

In [48]:
from sklearn.preprocessing import MinMaxScaler
mx = MinMaxScaler()
x_train = mx.fit_transform(x_train)
x_test = mx.transform(x_test)

In [20]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [21]:
x_train_std=std.fit_transform(x_train)
x_test_std=std.transform(x_test)

In [22]:
x_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15
1034,3,2.500000,3220,54160,2.000000,0,2,4,9,3460,44374
13321,3,2.000000,1340,9764,1.000000,0,0,3,7,1310,9764
6760,4,1.750000,1440,6144,1.000000,0,0,5,6,960,5160
5329,4,2.500000,2360,43017,2.000000,0,0,3,9,2750,40334
8117,3,1.500000,1550,8000,1.000000,0,0,3,6,1150,5150
...,...,...,...,...,...,...,...,...,...,...,...
5695,3,2.250000,1920,9672,2.000000,0,0,4,8,1950,10125
8006,3,1.000000,1240,3600,1.500000,0,0,3,7,1680,3600
17745,3,2.250000,1780,7332,2.000000,0,0,3,7,1510,7625
17931,2,1.000000,1150,5000,1.000000,0,0,4,7,1463,4320
13151,3,1.000000,1450,7930,1.000000,0,0,4,6,1040,7740

In [23]:
x_train_std

array([[-0.40706444,  0.49774069,  1.25232748, ...,  1.14753133,
         2.16155148,  1.16049317],
       [-0.40706444, -0.15141012, -0.80995452, ..., -0.56010327,
        -0.99164147, -0.10556879],
       [ 0.69570884, -0.47598552, -0.70025867, ..., -1.41392057,
        -1.50495195, -0.27398685],
       ...,
       [-0.40706444,  0.17316529, -0.32729277, ..., -0.56010327,
        -0.69832119, -0.18381515],
       [-1.50983771, -1.44971173, -1.01837664, ..., -0.56010327,
        -0.76725146, -0.30471474],
       [-0.40706444, -1.44971173, -0.68928908, ..., -1.41392057,
        -1.38762384, -0.17960835]], shape=(15561, 11))

In [24]:
x_test_std

array([[-1.50983771, -1.44971173, -1.12807249, ..., -0.56010327,
        -0.56632707, -0.11098275],
       [ 0.69570884,  0.17316529, -0.04208356, ...,  0.29371403,
        -0.14101267, -0.14888047],
       [ 0.69570884,  0.49774069,  0.46251735, ...,  0.29371403,
        -0.74231923, -0.30544635],
       ...,
       [ 0.69570884,  0.49774069,  0.79160491, ...,  0.29371403,
        -0.15567868, -0.12122537],
       [-1.50983771, -0.47598552, -0.99643747, ..., -0.56010327,
        -0.61032511, -0.31938364],
       [ 1.79848212,  0.17316529,  0.61609155, ..., -0.56010327,
         1.83889918,  0.19219904]], shape=(6052, 11))

In [25]:
y_train

1034    768000.000000
13321   275000.000000
6760    339888.000000
5329    595000.000000
8117    386000.000000
             ...
5695    625000.000000
8006    390000.000000
17745   272450.000000
17931   552000.000000
13151   394000.000000
Name: price, Length: 15561, dtype: float64

In [26]:
y_test

3834     349950.000000
1348     450000.000000
20366    635000.000000
16617    355500.000000
20925    246950.000000
             ...
19330    625000.000000
13482    375000.000000
8927     515000.000000
18115    499000.000000
7501    1398000.000000
Name: price, Length: 6052, dtype: float64

## MODEL TRANING

In [27]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [28]:
lr.fit(x_train_std,y_train)

LinearRegression()

In [29]:
y_pred=lr.predict(x_test_std)

In [30]:
y_pred

array([354139.62246211, 506389.64175459, 583913.14105781, ...,
       642133.54492341, 373641.12542184, 550155.990463  ], shape=(6052,))

In [31]:
y_test

3834     349950.000000
1348     450000.000000
20366    635000.000000
16617    355500.000000
20925    246950.000000
             ...
19330    625000.000000
13482    375000.000000
8927     515000.000000
18115    499000.000000
7501    1398000.000000
Name: price, Length: 6052, dtype: float64

In [32]:
from sklearn.metrics import mean_absolute_error,r2_score

In [33]:
mean_absolute_error(y_test,y_pred)

152228.86624017902

In [34]:
x_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15
3834,2,1.000000,1050,6317,1.500000,0,0,4,7,1600,9616
1348,4,2.250000,2040,9565,1.000000,0,0,3,8,1890,8580
20366,4,2.500000,2500,4000,2.000000,0,0,3,8,1480,4300
16617,5,2.000000,2360,19899,1.000000,0,0,4,7,1860,19998
20925,3,3.000000,1670,4440,1.000000,0,0,3,7,1670,4622
...,...,...,...,...,...,...,...,...,...,...,...
19330,4,2.500000,3550,8048,2.000000,0,0,3,9,3920,7871
13482,2,1.500000,1050,1046,2.000000,0,0,3,8,1470,1768
8927,4,2.500000,2800,21370,2.000000,0,0,3,8,1880,9336
18115,2,1.750000,1170,2400,1.000000,0,0,4,7,1570,3919
7501,5,2.250000,2640,14959,1.000000,0,0,4,7,3240,17904

In [35]:
x_test.loc[6052]

bedrooms            3.000000
bathrooms           3.000000
sqft_living      3460.000000
sqft_lot        13129.000000
floors              2.000000
waterfront          0.000000
view                0.000000
condition           3.000000
grade               9.000000
sqft_living15    3460.000000
sqft_lot15      12568.000000
Name: 6052, dtype: float64

In [36]:
r2_score(y_test,y_pred)

0.6161505547980191

## LETS PREDICT FOR SINGLE HOUSE

In [37]:
new_house=[[5,2,2300,22370,3,0,4,3,5,1180,9886]]

In [38]:
new_house_std=std.transform(new_house)

C:\Users\venka\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [39]:
new_house_std

array([[ 1.79848212, -0.15141012,  0.24312565,  0.16806959,  2.78428108,
        -0.08998863,  4.85150297, -0.62771827, -2.26773787, -1.18229964,
        -0.10110593]])

In [40]:
int(lr.predict(new_house_std))

C:\Users\venka\AppData\Local\Temp\ipykernel_47640\2175366686.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  int(lr.predict(new_house_std))

454988

In [50]:
import pickle

# Save model and scaler
pickle.dump(lr, open('model.pkl', 'wb'))
pickle.dump(mx, open('minmaxscaler.pkl', 'wb'))
pickle.dump(std, open('standardscaler.pkl', 'wb'))

In [45]:
user_input = [[3, 2, 1800, 5000, 1.0, 0, 0, 3, 7, 1500, 4000]]

# Standardize the input using the same scaler
user_input_std = std.transform(user_input)

# Predict the price
predicted_price = lr.predict(user_input_std)
print("Predicted House Price: $", predicted_price[0])

Predicted House Price: $ 399517.2039400489

C:\Users\venka\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(